/* css */
.orglist{padding-left:15px}
.mat-sort-header-container{
    justify-content: center;
  }
  .main-heading{
    font-size:25px!important;
    color:#AD2622;
    margin-bottom: 0!important;
  }
  .content, .filter{
    background:#fff;
    margin-bottom: 20px;
    padding:10px;
  }
  